 
 <style>
   *{
       margin: 0;
       padding: 0;
   }
   body{
    background-image: url(imagens/fundo2.jpg);
     font-family: Arial, sans-serif;
     margin: 0;
   background-color: #2d2d2d;
  
   }
   header{
    background-color: #2d2d2d;
  }
     .nav_header{
         gap:3em;
         z-index: 2;
         text-align: center;
        
     }
     .nav_header a{
     
      height: 3px;
         text-align:center;
         text-decoration: none;
         color: #ffffff;
         font-weight: bold;
         margin: 2%;
     }
     .header_nav{
         background-color: #28292C;
         justify-content: space-between;
         padding:1%;
     }
        
   p{
     color:#bdb8b8; 
   }
.logo_header{
    padding: center;
    text-align: center;
}
  h1{
    margin-left:5% ;
    text-align: left;
    padding: 3%;
  }
   h2{
     margin-bottom: 1rem;
  margin-left: 30%;
     color: #ffffff;
    
   }
   
   .product_cadeira, .product_teclado, .product_mousepad, .product_acessorio{
    background-color: #000000;
     border: 1px solid #83C000;
     border-radius: 5px;
     padding: 100px;
     
   }
.product_headset, .product_mouse, .product_combo {
    background-color: #83C000;
     border: 1px solid #000000;
     border-radius: 5px;
     padding: 100px;
   }
   .product_acessorio, .product_combo{
    text-align: center;
   }
   .products img {
     width: 20%;
     border-radius: 5px;
     margin-bottom: 13px;
     padding: 20px;
     margin: 22px;
     margin: 5%;
     
   }
   .product h3 {
     margin-top: 0;
   }
   .logo1 {
     width: 5%;
   }
   .banner{
     width: 100%;
   }
   .insta_img{
    padding: 50px;
    background-color: #2d2d2d;
    text-align: center;
   }
   p {
    color: #ffffff;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1rem;
     text-align: justify;
     font-size: 16px; line-height: 1.3em;
   text-transform: capitalize;
   }
   footer {
        background-color: #333;
        text-align: center;
        padding: 1rem 0;
       }  
       footer nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 1rem;
      }
  </style>